
.logo{
    color:cadetblue;
    text-align: center;
    font-family: "Vujahday Script", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 1.5em;
    margin: 10px 20px;
}


nav{
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

#menu_bar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
}


#riga1 {
    background-color:aliceblue;
    height: 5px;
    margin: 0px;
}

#riga2 {
    background-color:rgb(209, 231, 250);
    height: 5px;
    margin: 0px;
}

#riga3 {
    background-color:lightblue;
    height: 5px;
    margin: 0px;
}

#riga4 {
    background-color:lightskyblue;
    height: 5px;
    margin: 0px;
}

#riga5 {
    background-color:deepskyblue;
    height: 5px;
    margin: 0px;
}

#sezione_login{
    padding-top: 100px;
    text-align: center;
    background-image: url("immagini/sfondo_login.jpg");
    height:100vh;
    width:100vw;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items:flex-start;
}

#sfocatura{
    text-align: center;
    width:max-content;
    height: max-content;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    padding:35px;
}

body{
    height:100%;
    width:100%;
    overflow: hidden;
    margin:0;
}

#accedi_testo{
    color:aliceblue;
    font-style: oblique;
}

input[type=text], input[type=password] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid deepskyblue;
	background: rgba(deepskyblue, 0.3);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: deepskyblue;
}

input[type=submit] {
	appearance: none;
	border: .2em solid deepskyblue;
	background-color: azure;
	padding: .85em 1.5em;
	color: deepskyblue;
	border-radius: 2em;
	transition: 0.5s;
	&:hover, &:focus, &:active {
		background-color: deepskyblue;
		color: azure;
	}
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 0;
}

input {
    margin-left: 0.5em;
}

label, #messaggio_finale{
    color:aliceblue;
}

.link{
    color:deepskyblue;
    text-decoration: none;
}

.link:hover, .link:active{
    color:mediumblue;
}


.error{
    color:red;
}